[submodule "external/gym-hil"]
	path = external/gym-hil
	url = https://github.com/huggingface/gym-hil.git
[submodule "external/lerobot"]
	path = external/lerobot
	url = https://github.com/huggingface/lerobot.git
